doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Te invitamos a conocer nuestro sitio, conoce los increíbles sabores que Livean te ofrece. También contamos con un increíble blog.')
  title Filosofía | Livean
  link(rel='shortcut icon', href='./favicon.png')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='./css/main.css')
  //- Global site tag (gtag.js) - Google Analytics
  //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-114918432-1')
  //- script.
  //-   function gtag() { dataLayer.push(arguments); }
  //-   gtag('js', new Date());
  //-   gtag('config', 'UA-114918432-1');
body
  header.cabecera
    a.logo(href='./')
      img.logo__imagen(src='./img/comun/logo.png', alt='livean-logo')
    #menu.botton-menu
      span#botton-menu.botton-menu__logo
    nav#navegacion-principal.navegacion-principal
      ul.navegacion-principal__uno
        li.navegacion-principal__item
          a.navegacion-principal__link(href='./') INICIO
        li#nosotros.navegacion-principal__item
          a#nosotros-item.navegacion-principal__link.navegacion-principal__link--activa.navegacion-principal__nosotros NOSOTROS
            img(src='./img/comun/lefNav.png')
          ul#submenu.navegacion-principal__dos
            li.navegacion-principal__item: a.navegacion-principal__link.navegacion-principal__link--activa(href='./filosofia.html') Filosof&iacute;a
            li.navegacion-principal__item: a.navegacion-principal__link(href='./historia.html') Historia
            li.navegacion-principal__item: a.navegacion-principal__link(href='./modelo-negocio.html') Modelo de negocio
            li.navegacion-principal__item: a.navegacion-principal__link(href='./responsabilidad-social.html') Responsabilidad Social Empresarial
        li.navegacion-principal__item: a.navegacion-principal__link(href='./productos.html') PRODUCTOS
        li.navegacion-principal__item: a.navegacion-principal__link(href='./blog.html') BLOG

  main.filosofia
    h2.title Filosofía
    .contenido-mision
      .textos
        h2.subtitle(style='margin-top: 0;') MISIÓN
        p.texto
          img(src='./img/comun/lefNav.png', alt='')
          | Siempre buscamos mejorar la calidad de vida del consumidor y de nuestros trabajadores.
        p.texto
          span.bullet
          | Creemos en el crecimiento rentable con marcas líderes, un servicio superior y en una excelente distribución nacional e internacional.
        p.texto
          span.bullet
          | Gestionamos nuestras actividades comprometidas con el Desarrollo Sostenible: el mejor talento humano, innovación sobresaliente y el comportamiento corporativo ejemplar.
        h2.subtitle VISIÓN
        p.centrado.texto
          img(src='./img/comun/lefNav.png', alt='')
          | Nos esforzamos en contribuir para la construcción de un mundo sostenible, proporcionando calidad de vida al consumidor con productos y experiencias que satisfagan sus aspiraciones de bienestar, nutrición y placer.
      img.hoja-flotando(src='./img/filosofia/hojaflotando.png', alt='')

    h2.subtitle(style='text-align: center;') NUESTROS VALORES
    .valores
      .valores__valor
        h3.valores__titulo Responsabilidad
        img.valores__imagen(src='./img/filosofia/Responsabilidad.png', alt='')
        p.centrado.texto Actuamos con transparencia y ética. Trabajamos con los más altos estándares de profesionalismo y nos comprometemos con los consumidores y la sociedad en general para darles lo mejor de nosotros.
      .valores__valor
        h3.valores__titulo Trayectoria
        img.valores__imagen(src='./img/filosofia/trayectoria.png', alt='')
        p.centrado.texto Valoramos y respetamos el legado de más de un siglo de emprendimiento, ingenio y creatividad, que nos ha permitido llegar a ser lo que somos y proyectarnos con fuerza hacia el futuro.
      .valores__valor
        h3.valores__titulo Inovación
        img.valores__imagen(src='./img/filosofia/innovacion.png', alt='')
        p.centrado.texto Mejoramos la vida de las personas a través del desarrollo de productos que responden a sus necesidades y aspiraciones. Avanzamos con determinación y empuje para cumplir nuestras metas de manera creativa y novedosa.
      .valores__valor
        h3.valores__titulo Igualdad de oportunidades
        img.valores__imagen(src='./img/filosofia/igualdadderesponsabilidades.png', alt='')
        p.centrado.texto Valoramos a las personas por lo que hacen y reconocemos sus méritos. Evitamos todo tipo de discriminación.
      .valores__valor
        h3.valores__titulo Pasión y compromiso
        img.valores__imagen(src='./img/filosofia/pasionycompromiso.png', alt='')
        p.centrado.texto Es imposible cumplir nuestra Misión sin amar lo que hacemos.
      img.limon-flotando(src='./img/filosofia/Limaflotando.png', alt='')
  footer.pie
    .pie__fondo
      #arriba.pie__arriba
        span.slider__flecha
    .pie__logos
      img(src='./img/comun/grupo-nutresa-logotipo.png', width='70' alt='')
      img(src='./img/comun/logo_tresmontes.png', width='70' alt='')
      a.pie__privacidad(href='#') Aviso de privacidad
  script(src='./js/main.js')
